@media screen and (max-width: 1000px) {
	img.logo{
		display: none;
	}

	
}

@media screen and (max-width: 1000px) {
	img.imgfaq{
		display: none;
	}
}

p.pierricbuchez {

        opacity: 0.7;
        text-align: center
} 
